{% extends "frontend/layout.html "%}
{% block content %}
<div class="container">
    <h2>About KTM Now</h2>
    <p>Drama is the specific mode of fiction represented in performance: a play, opera, mime, ballet, etc, performed in a theatre, 
        or on radio or television.[1] Considered as a genre of poetry in general,
         the dramatic mode has been contrasted with the epic and the lyrical modes
          ever since Aristotle's Poetics (c. 335 BC)—the earliest work of dramatic theory.</p>
          <p>The term "drama" comes from a Greek word meaning "action" (Classical Greek: δρᾶμα, drama), which is derived from
               "I do" (Classical Greek: δράω, drao). The two masks associated with drama
                represent the traditional generic division between comedy and tragedy.</p>
              <br>
              <h2>Our Teachers</h2>
              <table class="table">
                <tr>
                  <th>Name</th>
                  
                  <th>Role</th>
                </tr>
                <tr>
                  <td>Rubin Singh Maharjan</td>
                  
                  <td>Senior Admin</td>
                </tr>
                <tr>
                  <td>Saya Joshi</td>
                  
                  <td>Senior Editor</td>
                </tr>
                <tr>
                  <td>Albert</td>
                  
                  <td>Senior IT technician</td>
                </tr>
                <tr>
                    <td>Rubi Singh Maharjan</td>
                        
                    <td>Content writer</td>
                      </tr>
              </table>
                </div>
                <br>
{% endblock content %}

