{% extends "frontend/layout.html "%}
{% block content %} 
<div class="container">
    <h2>Privacy Policy</h2>
    <p>NAI: optout.networkadvertising.org</p>
    <p>DAA: optout.aboutads.info</p>
    <p>You may be required to provide personally identifiable information at several different points on our website. By providing and/ or accepting the policy, you expressly approve and consent to our collection, storage, use and disclosure of your personal information as described in this Policy.

        You can visit/surf our website without providing any personal information. However, if you choose to avail of certain services on our website, you shall be required to provide certain information for the registration and/or access to such services/web pages. Such information may include, without limitation, your name, email address, contact address, mobile/telephone number(s), sex, age, occupation, interests, financial information, content, IP address, standard web log information and such other information as may be required for your interaction with the services.</p>
    <p>
        choose to provide us with the above mentioned information, you consent to the use, transfer and storage of the information so provided by you on our servers. The information provided by you shall not be sold/given/rented to third parties (third parties for this purpose do not include our group / holding / subsidiary companies and or our service partners / associates) for marketing purposes and other related activities without your prior consent.
    </p>
    <p>
        Improve our website and enable us to provide you the most user-friendly experience which is safe, smooth and customized;

Improve and customize our services, content and other commercial /non – commercial features on the website;

Send you information on our products, services, special deals, promotions;

Send you marketing/promotional communications

Send newsletter(s) to you

Send you service-related announcements on rare occasions when it is necessary to do so;

Provide you the opportunity to participate in contests or surveys on our website (If you participate, we may request certain additional personally identifiable information from you. Moreover, participation in these surveys or contests is shall be completely voluntary and you therefore shall have a choice whether or not to disclose such additional information);

Provide customer support and the services you request;

Resolve disputes, if any and troubleshooting;

Avoid/check illegal and/or potentially prohibited activities and to enforce Agreements ;

Provide service updates and promotional offers related to our services/products.

Comply with any court judgment / decree / order / directive / legal & government authority /applicable law;

Investigate potential violations or applicable national & international laws;

Investigate deliberate damage to the website/services or its legitimate operation;

Detect, prevent, or otherwise address security and/or technical issues;

Protect the rights, property or safety of its Directors, employees and the general public at large; and Respond to Claims of third parties;

 

The personal information provided by you shall also be disclosed to:

The members of our corporate family, affiliates, service providers and third parties under a contract to provide joint services, contents and marketing communications; and ther third parties to whom you explicitly require us to send the information;

Based upon the personally identifiable information you provide us, we will send you a welcoming email to activate your account. We will also communicate with you in response to your inquiries with respect to our services/content, to provide the services you request, and to manage your account. We will communicate with you by email or telephone, in accordance with your wishes.

In order to provide certain services to you, we may on occasion supplement the personal information you submitted to us with information from third party sources (third parties for this purpose may include our group / holding / subsidiary companies and or our service partners / associates).

We reserve the right to disclose your personally identifiable information as required by law and when we believe that disclosure is necessary to protect our rights and/or to comply with a judicial proceeding, court order, or legal process served on our website.
    </p>
    <br>
    <br>
    
</div>

{% endblock content %}